<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">

  {{ partial "head" . }}

<body class="antialiased bg-cover font-sans overflow-scroll text-grey-darkest">

  <main class="bg-white flex flex-col max-w-lg mx-auto shadow-lg w-full">

    {{ partial "header" . }}

    <div class="main max-w-md mx-auto px-4 sm:px-8 py-8">
      {{ block "main" . }}
      {{ .Content }}
      {{ end }}
    </div>

  </main>

  {{ partial "footer" . }}

  {{ block "script" . }}{{ end }}

</body>

</html>
