@import 'components/nav.css';
@import 'components/elements.css';
@import 'components/grid.css';

:focus:not(:focus-visible) {
  outline: none;
}

body {
  background: rgb(187,222,250);
  background: linear-gradient(180deg, rgba(187,222,250,1) 0%, rgba(52,144,220,1) 50%, rgba(28,61,90,1) 100%) no-repeat center center fixed;
  background-size: cover;
  overflow: scroll;
}

main a {
  @apply font-bold;
}

a:hover {
  @apply text-grey-darker;
}
