html {
  height: 100%;
}

body {
  display: grid;
  min-height: 100%;
  grid-template-rows: 1fr auto;
}

main {
  grid-row-start: 1;
  grid-row-end: 2;
}

footer {
  grid-row-start: 2;
  grid-row-end: 3;
}
