---
import { siteConfig } from '../lib/site-config';
import { Image } from 'astro:assets';
import headerLogo from '../assets/header-logo.png';
import { makeCanonicalUrl } from '../lib/make-canonical-url';

const currentUrl = makeCanonicalUrl({
	baseUrl: Astro.site?.toString() ?? siteConfig.baseUrl,
	pathname: Astro.url.pathname,
});
---

<nav class="border-b bg-ice">
	<a class="flex shrink-0 items-center p-6 md:justify-center" href="/"
		><Image
			class="h-24 w-auto shrink-0 object-contain"
			src={headerLogo}
			alt="Report Plumbing"
		/></a
	>
	<ul class="mx-auto w-full text-center">
		{
			siteConfig.siteNavigation.map((navItem) => {
				const generatedNavUrl = makeCanonicalUrl({
					baseUrl: Astro.site?.toString() ?? siteConfig.baseUrl,
					pathname: navItem.slug,
				});
				const isCurrent = currentUrl === generatedNavUrl;
				return (
					<li class="inline">
						<a
							class:list={[
								'relative inline-block px-4 pb-3 pt-2 text-sm font-bold text-gray-700',
								'hover:text-deep_ocean',
							]}
							href={navItem.slug}
						>
							{navItem.label}
							{isCurrent ? (
								<span
									aria-hidden="true"
									class="absolute inset-x-0 bottom-0 inline-block h-1 w-full bg-deep_ocean"
									transition:animate="initial"
									transition:name="nav-underline"
								/>
							) : null}
						</a>
					</li>
				);
			})
		}
	</ul>
</nav>
