<nav class="nav bg-blue-lightest border-b flex flex-wrap items-center justify-between">

  <a class="flex flex-no-shrink items-center md:justify-center p-3 md:pt-6 md:w-full" href="/">
    <img class="h-24 w-auto" src="/img/header-logo.png" alt="Report Plumbing">
  </a>

  <input class="menu-btn hidden" type="checkbox" id="menu-btn">
  <label class="menu-icon block cursor-pointer md:hidden mx-4 py-2 relative select-none" for="menu-btn">
    <span class="navicon bg-grey-darkest flex items-center relative"></span>
  </label>

  <ul class="menu md:border-b md:border-none flex items-center justify-center list-reset mx-4 md:mx-0 text-sm w-full">
    {{- range .Site.Menus.main }}
    <li class="border-t md:border-none">
      <a href="{{ .URL }}" class="block md:inline-block px-2 py-3 no-underline text-grey-darkest hover:text-teal-dark{{ if or ( $.IsMenuCurrent "main" . ) ( $.HasMenuCurrent "main" . ) }} font-bold{{ end }}">
        {{- .Title -}}
      </a>
    </li>
    {{ end }}
  </ul>
</nav>
